<div id="detail">
	<table>
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{name}}</td>
			</tr>
			<tr>
				<th>Roll</th>
				<td>{{rollNo}}</td>
			</tr>
			<tr>
				<th>Phy</th>
				<td><input type="text" name="phy" id="phy" value={{phy}}></td>
			</tr>
			<tr>
				<th>Chem</th>
				<td><input type="text" name="chem" id="chem" value={{chem}}></td>
			</tr>
			<tr>
				<th>Maths</th>
				<td><input type="text" name="maths" id="maths" value={{maths}}></td>
			</tr>
			<tr>
				<th>Grade</th>
				<td>{{grade}}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{imgUrl}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="update_val">
	<p><button name="update" type="submit" id="update">Update</button></p>
	<div class="success-data">
    
    </div>
    <img id="response_img"></img>
	<img src={{imgUrl}}></img>
</div>




