<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" class="next-head">
    <!-- <link rel="stylesheet" href="../css/bootstrap.css" class="next-head"> -->
    <link rel="stylesheet" href="../css/main.css" class="next-head">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Montserrat|Lato" rel="stylesheet" class="next-head">
    <!-- <script  src="../src/require.js"></script> -->
    <!-- <script  src="../src/jquery.js"></script> -->
    <script  src="/client/js/lib/require.js"></script>
    <title>Student Records</title>
</head>
<body>
  <div class="container"> 
    <h3 id="header" align="center">Student Details</h3> 
    <div class="requestForm" align="center">
      <fieldset>
          <input placeholder="Student Roll Number" type="text" tabindex="1" required autofocus id="rollNo">
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="roll-submit" data-submit="...Sending" >Submit</button>
      </fieldset>
    </div>
  </div>
  <div class="studentDetails">

  </div>
  <div id="details" align="center">
    <a href="index.html">Add Students</a>
  </div>
  <script type="text/javascript">
        require.config({
            baseUrl : '/client/js',
            paths : {
                // all versioning paths alias here since it shouldn't be cached
                'main' : 'index',
                // 'sections/search/main' : 'sections/search/main-v27',
                'jquery' : 'lib/jquery',
                'handlebars' : 'lib/handlebars'
            }
        });
        require(['main'], function(main){
            //main is loaded, probably don't need to do anything here..
        });
    
  </script>
</body>
</html>