<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" class="next-head">
    <!-- <link rel="stylesheet" href="../css/bootstrap.css" class="next-head"> -->
    <link rel="stylesheet" href="../css/main.css" class="next-head">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Montserrat|Lato" rel="stylesheet" class="next-head">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script  src="/client/js/lib/require.js"></script>
    <!-- <script  src="../src/jquery.js"></script> -->
    <title>Student Records</title>
</head>
<body>
  <div class="container"> 
    <h3 id="header" align="center">Welcome to Student Records</h3> 

    <form id="formDetails" name="formDetails" action="" method="post" enctype="multipart/form-data">
      <h3> Add Student </h3>
      <fieldset>
        <input placeholder="Your name" name="name" type="text" tabindex="1" required autofocus id="name">
      </fieldset>
      <fieldset>
        <input placeholder="Your Roll Number" name="roll" type="text" tabindex="1" required id="roll">
      </fieldset>
      <fieldset>
        <input placeholder="Physics" name="phy" type="text" tabindex="3" required id="phy">
      </fieldset>
      <fieldset>
        <input placeholder="Chemistry" name="chem" type="text" tabindex="4" required id="chem">
      </fieldset>
      <fieldset>
        <input placeholder="Maths" name="maths" type="text" tabindex="4" required id="maths">
      </fieldset>
       <fieldset>
        <!-- <input placeholder="Image Url" type="text" tabindex="4" required id="imgUrl"> -->
        <input type="file" id="imageUrl" name="imageUrl"/>
      </fieldset>

      <fieldset>
        
      </fieldset>
      <div class="success-data">
    
    </div>
    <div class="failure-data">
    
    </div>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </form>

  </div>
  <div id="details" align="center">
    <a href="dispDetails.html">Display Each Student Details</a>
  </div>

  <div id="details" align="center">
    <a href="showAllRecords.html" target="blank">Display All Student Details</a>
  </div>

  <script type="text/javascript">
        require.config({
            baseUrl : '/client/js',
            paths : {
                // all versioning paths alias here since it shouldn't be cached
                'main' : 'index',
                // 'sections/search/main' : 'sections/search/main-v27',
                'jquery' : 'lib/jquery',
                'handlebars' : 'lib/handlebars'
            }
        });
        require(['main'], function(main){
            //main is loaded, probably don't need to do anything here..
        });
    
  </script>
</body>
</html>